:root {
    --color-50: #f3f8fc;
    --color-100: #e6f0f8;
    --color-200: #c8e1ef;
    --color-300: #97c7e2;
    --color-400: #60aad0;
    --color-500: #3c8fbb;
    --color-600: #2b739e;
    --color-700: #245c80;
    --color-800: #22506d;
    --color-900: #20435a;
    --color-950: #162b3b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, var(--color-100) 20%, var(--color-200) 100%);
}

h1, h2, h3, h4, h5, ul, nav, p, a, li {
    margin-bottom: 0;
}

h1 {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: oblique;
}

a {
    text-decoration: none;
}


/* Background colors */
.bg-color-50 { background-color: var(--color-50); }
.bg-color-100 { background-color: var(--color-100); }
.bg-color-200 { background-color: var(--color-200); }
.bg-color-300 { background-color: var(--color-300); }
.bg-color-400 { background-color: var(--color-400); }
.bg-color-500 { background-color: var(--color-500); }
.bg-color-600 { background-color: var(--color-600); }
.bg-color-700 { background-color: var(--color-700); }
.bg-color-800 { background-color: var(--color-800); }
.bg-color-900 { background-color: var(--color-900); }
.bg-color-950 { background-color: var(--color-950); }

/* Text colors */
.text-color-50 { color: var(--color-50); }
.text-color-100 { color: var(--color-100); }
.text-color-200 { color: var(--color-200); }
.text-color-300 { color: var(--color-300); }
.text-color-400 { color: var(--color-400); }
.text-color-500 { color: var(--color-500); }
.text-color-600 { color: var(--color-600); }
.text-color-700 { color: var(--color-700); }
.text-color-800 { color: var(--color-800); }
.text-color-900 { color: var(--color-900); }
.text-color-950 { color: var(--color-950); }


/* Sidebar */
.sidebar {
    border-right: var(--color-600) 2px solid; 
    background-color: var(--color-100);
    box-shadow: 7px 0px 7px -2px rgba(0, 0, 0, 0.206);
}

.sidebar-link {  
    border-radius: 15px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
    isolation: isolate; /* Crea un nuovo contesto di stacking */

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 15px;
        background: linear-gradient(37deg, var(--color-400) 0%, var(--color-700) 100%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: -1; /* Ora funziona grazie a isolation */
    }

    &:hover::before {
        opacity: 1;
    }

    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) -5px 3px 8px;
    }
    
    h5, h1, i{
        transition: 0.3s ease-in-out;
        position: relative;
    }

    h5 {
        font-weight: bold;
    }

    i {
        font-size: 1.2rem;
    }

    &:hover h5  {
        color: var(--color-50);
        transform: translateX(10px);
    }
    
    &:hover i {
        color: var(--color-50);
        transform: translateX(10px);
    }
    
    &:hover h1 {
        color: var(--color-50);
        transform: translateX(5px);
    }


    &:active{
        box-shadow: none;
    }
}


/* Headers */
.tablet-header-nav {
    display: inline-block;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.075);
    border-radius: 100px;
    background: linear-gradient(37deg, var(--color-500) 0%, var(--color-800) 100%);
    
    h1, p {
        transition: 0.2s ease-in-out;
        color: var(--color-100);
        cursor: pointer;
    }

    p {
        font-family: monospace;
        font-size: 1rem;
        font-weight: bold;
        padding: 3px 10px;
        border-radius: 20px;
    }

    h1:hover {
        color: var(--color-50);
        transform: scale(1.05);
    } 
    
    p:hover {
        background-color: var(--color-200);
        color: var(--color-600);
        transform: scale(1.15);
    }
}

.mobile-header-nav {
    width: 95%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.075);
    border-radius: 100px;
    background: linear-gradient(37deg, var(--color-500) 0%, var(--color-800) 100%);
    
    h1 {
        color: var(--color-100);
        transition: 0.2s ease-in-out;
        
        &:hover {
            color: var(--color-50);
            transform: translateX(10px);
        } 
    }
}

.offcanvas-style{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
}

.offcanvas-elements{
    
    p {
        font-family: monospace;
        font-size: 2rem;
        font-weight: bold;
        padding: 3px 10px;
        border-radius: 20px;
        color: var(--color-100);
        transition: 0.2s ease-in-out;
        display: inline-block;

        &:hover {
            background-color: var(--color-800);
            color: var(--color-50);
            transform: translateX(15px);
        }
    }
}

.menu-btn {
    border-radius: 50%;
    border: none;
    padding: 10px 8px 8px 10px;
    background-color: var(--color-50);
    transition: all 0.2s ease-in-out;
    
    i {
        color: var(--color-950);
        font-size: 1.5rem;
        transition: transform 0.2s ease-in-out;
    }

    &:hover {
        background-color: var(--color-800);
        
        i {
            color: var(--color-50);
        }
    }
}


/* Single elements */
.argument-card {
    position: relative;
    /* border: 1px solid var(--color-50); */
    border-radius: 15px;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    
    &:hover {
        /* border: 1px solid var(--color-300); */
        box-shadow: rgba(0, 0, 0, 0.138) -5px 3px 8px;
    }
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: linear-gradient(37deg, var(--color-50) 0%, var(--color-100) 100%);
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: linear-gradient(150deg, var(--color-100) 25%, var(--color-500) 100%);
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        z-index: -1;
    }

    &:hover::after {
        opacity: 1;
    }
}

.difficulty-banner {
    p {
        font-family: "Tektur", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    i {
        font-size: 1.5rem;
    }
}

.page-head {
    h1 {
        font-family:sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 3.5rem;
        color: var(--color-500);
    }

    p {
        font-family: monospace;
        font-weight: normal;
        font-style: italic;
        color: var(--color-700);
    }

    i {
        font-size: 2.5rem ;
        color: var(--color-500);
    }
}

.search-bar {
    border: 3px solid var(--color-500);
    border-radius: 20px;
    background-color: var(--color-50);
    color: var(--color-500);
    padding: 5px 11px;
    
    input {
        background-color: inherit;
        border: none;
        outline: none;
        color: inherit;
        font-family: "Tektur", sans-serif;
        font-size: 1.2rem;
        font-weight: light;
        font-style: normal;
        height: 100%;
        width: 100%;

        &::placeholder {
            font-weight: lighter;
            color: var(--color-200);
        }
    }

    i {
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.filters-btn-and-list {
    
}

/* Pages */