:root {
    --color-50: #f3f8fc;
    --color-100: #e6f0f8;
    --color-200: #c8e1ef;
    --color-300: #97c7e2;
    --color-400: #60aad0;
    --color-500: #3c8fbb;
    --color-600: #2b739e;
    --color-700: #245c80;
    --color-800: #22506d;
    --color-900: #20435a;
    --color-950: #162b3b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, ul, nav, p, a, li {
    margin-bottom: 0;
}

h1 {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: oblique;
}

a {
    text-decoration: none;
}


/* Background colors */
.bg-color-50 { background-color: var(--color-50); }
.bg-color-100 { background-color: var(--color-100); }
.bg-color-200 { background-color: var(--color-200); }
.bg-color-300 { background-color: var(--color-300); }
.bg-color-400 { background-color: var(--color-400); }
.bg-color-500 { background-color: var(--color-500); }
.bg-color-600 { background-color: var(--color-600); }
.bg-color-700 { background-color: var(--color-700); }
.bg-color-800 { background-color: var(--color-800); }
.bg-color-900 { background-color: var(--color-900); }
.bg-color-950 { background-color: var(--color-950); }

/* Text colors */
.text-color-50 { color: var(--color-50); }
.text-color-100 { color: var(--color-100); }
.text-color-200 { color: var(--color-200); }
.text-color-300 { color: var(--color-300); }
.text-color-400 { color: var(--color-400); }
.text-color-500 { color: var(--color-500); }
.text-color-600 { color: var(--color-600); }
.text-color-700 { color: var(--color-700); }
.text-color-800 { color: var(--color-800); }
.text-color-900 { color: var(--color-900); }
.text-color-950 { color: var(--color-950); }


/* Sidebar */
/* .sidebar {
    border: var(--color-500) 2px solid;
    border-radius: 15px;
} */

.sidebar-link{  
    border-radius: 15px;
    transition: 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background: linear-gradient(37deg, var(--color-400) 0%, var(--color-700) 100%);
        /* background-color: var(--color-500); */
        box-shadow: rgba(0, 0, 0, 0.24) -5px 3px 8px;
    }
    
    h5, h1{
        transition: margin-left 0.3s ease-in-out, color 0.1s ease-in-out;
    }

    &:hover h5, &:hover h1 {
        color: var(--color-50);
        margin-left: 25px;
    }

    &:active{
        box-shadow: none;
    }
}


/* Single elements */
.argument-card {
    border: 1px solid var(--color-50);
    border-radius: 15px;
    background: var(--color-50);
    background: linear-gradient(37deg, var(--color-50) 0%, var(--color-300) 100%);
    transition: 0.2s ease-in-out;

    &:hover {
        border: 1px solid var(--color-300);
        box-shadow: rgba(0, 0, 0, 0.06) -5px 3px 8px;
    }
}